body {
}

* {
  font-family: 'Inter';
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  gap:50px;
  max-width: 800px;
  margin: 100px auto;
  background-color: #fff;
  padding: 30px;
  border-radius: 15px;
}

  input {
    border: 1px solid rgb(194, 165, 112);
    font-size: 24px;
    font-weight: bold;
    padding: 20px 20px;
    letter-spacing: 1.3px;
    outline: none;
    border-radius: 5px;
    width: 100%;
  }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}


.currencies {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid rgb(194, 165, 112);
  border-radius: 5px;
  overflow: hidden;
}
  li {
    display: inline-flex;
    padding: 10px 20px;
    border-right: 1px solid rgb(194, 165, 112);
    cursor: pointer;
    justify-content: center;
    width: 25%;
  }
    li:hover {
      background-color: rgb(194, 165, 112);
      color: #fff;
    }

   

    li.active {
      background-color: rgb(233, 174, 66);
      color: #fff;
    }

    
  

